<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    {% if page.description %}
        <meta name="Description" content="{{ page.description }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="og:description" content="{{ page.description }}">
    {% endif %}

    <title>
        {% if page.alternativeto %}
            {{ page.title }}, an alternative to {{ page.alternativeto }}
        {% else %}
            {{ page.title }}
        {% endif %}
        - {{ site.title }}
    </title>
    <link rel="stylesheet" href="/assets/css/altbox.css">

    {% if site.ga_tracking != nil %}
        <script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ site.ga_tracking }}', '{{ site.url }}');
ga('send', 'pageview');
        </script>
        <script async src="https://www.google-analytics.com/analytics.js"></script>
    {% endif %}

    <script type="text/javascript" src="/assets/js/just-the-docs.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- https://coderwall.com/p/oiyq8w/template-for-open-graph-headers -->
    <!-- https://cards-dev.twitter.com/validator -->
    {% if page.tool %}
        <meta name="twitter:title" content="{{ page.tool }}, an alternative to {{ page.alternativeto }}">
        {% if page.card_image %}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:image" content="{{ page.card_image | absolute_url }}">
        {% else %}
            <meta name="twitter:card" content="summary">
        {% endif %}

        <meta name="twitter:url" content="{{ page.url | absolute_url }}">
        <meta name="twitter:creator" content="@altboxdev">
        <meta name="og:url" content="{{ page.url | absolute_url }}">
        <meta name="og:site_name" content="altbox.dev">
    {% endif %}
</head>
