<!-- https://coderwall.com/p/oiyq8w/template-for-open-graph-headers -->
<!-- https://cards-dev.twitter.com/validator -->
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="og:url" content="{{ page.url | absolute_url }}">
<meta name="og:site_name" content="altbox.dev">

{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
{% endif %}

{% if page.card_image %}
    {% if page.tool %}
        <meta name="twitter:card" content="summary_large_image">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:image" content="{{ page.card_image | absolute_url }}">
{% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ "/assets/img/altbox-box-logo.png" | absolute_url }}">
{% endif %}

{% if page.tool %}
    <meta name="twitter:title" content="{{ page.tool }}, an alternative to {{ page.alternativeto }}">
{% else %}
    <meta name="twitter:title" content="{{ page.title }}">
{% endif %}
<meta name="twitter:creator" content="@altboxdev">

<!-- Validation for Bing -->
<meta name="msvalidate.01" content="546111A68635D672890CCD91D4B834DA" />

<link rel="stylesheet" href="/assets/css/altbox.css">
