<div style="float: right">
    <dl>
        {% if page.alternativeto %}
            <dt>
                Alternative to
            </dt>
            <dd>
                {{ page.alternativeto }}
            </dd>
        {% endif %}

        {% if page.website %}
            <dt>
                Website
            </dt>
            <dd>
                <a href="{{ page.website }}">{{ page.website }}</a>
            </dd>
        {% endif %}

        {% if page.project %}
            <dt>
                Project page
            </dt>
            <dd>
                <a href="{{ page.project }}">{{ page.project }}</a>
            </dd>
        {% endif %}

        {% if page.author %}
            <dt>
                Author
            </dt>
            <dd>
                {{ page.author }}
            </dd>
        {% endif %}

        {% if page.language %}
            <dt>
                Language
            </dt>
            <dd>
                {{ page.language }}
            </dd>
        {% endif %}
    </dl>
</div>
