<div style="float: right">
    <table>
        {% if page.alternativeto %}
        <tr>
            <th>
                Alternative to
            </th>
            <td>
                {{ page.alternativeto }}
            </td>
        </tr>
        {% endif %}

        {% if page.website %}
        <tr>
            <th>
                Website
            </th>
            <td>
                <a href="{{ page.website }}">{{ page.website }}</a>
            </td>
        </tr>
        {% endif %}

        {% if page.project %}
        <tr>
            <th>
                Project page
            </th>
            <td>
                <a href="{{ page.project }}">{{ page.project }}</a>
            </td>
        </tr>
        {% endif %}

        {% if page.author %}
        <tr>
            <th>
                Author
            </th>
            <td>
                {{ page.author }}
            </td>
        </tr>
        {% endif %}

        {% if page.language %}
        <tr>
            <th>
                Language
            </th>
            <td>
                {{ page.language }}
            </td>
        </tr>
        {% endif %}
    </table>
</div>
