<nav role="navigation" aria-label="Main navigation">
    <ul class="navigation-list">
        {% assign groups = site.data.nav | sort:"alt" %}

        {% for group in groups %}
            <li><code>{{ group.alt }}</code> alternatives
                {% assign tools = group.tools | sort %}
                <ul>
                    {% for tool in tools %}
                        <li class="navigation-list-item" {% if tool == page.tool %} active{% endif %}>
                            <a href="/{{ tool }}/" class="navigation-list-link{% if tool == page.tool %} active{% endif %}">
                                {{ tool }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>
