---
---

@import "{{ site.theme }}.css";

.navigation {
    padding-top: 1rem;
}

dl {
    padding: .5rem;
    margin-left: 1rem;
    background: #dcdcdc;
}

.navigation-list code {
    font-family: courier;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    background-color: inherit;
    padding: 0;
}

/* Magic resizing logos */

/* 500px */
@media (min-width: 0) {
    .logo {
        transition: all .25s linear;
        height: 80px;
        width: 80px;
    }
}

@media (min-width: 50rem) {
    /* Don't display the menu button on desktop. */
    .fs-3 {
        display: none;
    }
}

/**745px **/
@media (min-width: 46.25rem) {
    .logo {
        transition: all .25s linear;
        width: 100px;
        height: 100px;
    }
    .side-bar {
        padding-top: 0;
    }
    .site-header {
        height: 100px;
        min-height: 100px;
        max-height: 100px;
    }
    .site-header a {
        text-align: center;
        margin: 0 auto;
        background-image: inherit;
        display: block;
        width: 100%;
    }
}
