<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>

        <div class="page-wrap">
            <div class="side-bar">
                <div class="site-header">
                    <a href="/"><img src="/assets/img/altbox-box-logo.png" class="logo" alt="Link to altbox.dev homepage" /></a>
                    <button class="menu-button fs-3 js-main-nav-trigger" data-text-toggle="Hide" type="button">Menu</button>
                </div>
                {% include nav.html %}
                {% include sidebar-footer.html %}
            </div>
            <div class="main" id="top">
                <div class="main-content-wrap js-main-content" tabindex="0">
                    <div class="main-content">
                        <div class="page">
                            <div id="main-content" class="page-content" role="main">
                                {{ content }}

                                {% if site.footer_content != nil %}
                                    <hr>
                                    <footer role="contentinfo">
                                        <p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p>
                                    </footer>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
