<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
    <body>
        <div class="page-wrap">
            <div class="side-bar">
                <div class="site-title">
                    <a href="/"><img src="/assets/img/altbox-box-logo.png" class="logo" alt="Link to altbox.dev homepage" /></a>
                </div>
                <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
                <div class="navigation main-nav js-main-nav">
                    {% include nav.html %}
                </div>
                {% include sidebar-footer.html %}
            </div>
            <div class="main-content-wrap js-main-content" tabindex="0">
                <div class="main-content">
                    <div id="main-content" class="page-content" role="main">
                        <div>
                            {% include infobox.html %}
                            <h1>{{ page.tool }}</h1>
                            {% if page.description %}
                                <h2>{{ page.description }}</h2>
                            {% endif %}
                        </div>
                        <div style="clear:both">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
