---
layout: default
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.tool }} -- An alternative to the standard {{ page.standardtool }} utility</title>
    </head>
    <body>
        <div>
            {% include infobox.html %}
            <h1>{{ page.tool }}</h1>
            {% if page.description %}
                <h2>{{ page.description }}</h2>
            {% endif %}
        </div>

        <div style="clear:both">
            {{ content }}
        </div>
    </body>
</html>
