<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
    <body>
        <div class="page-wrap">
            <div class="side-bar">
                {% include site-header.html %}
                {% include nav.html %}
                {% include sidebar-footer.html %}
            </div>
            <div class="main" id="top">
                <div class="main-content-wrap js-main-content" id="main-content-wrap" tabindex="0">
                    <div class="main-content" id="main-content" role="main">
                        <div class="page">
                            <div id="main-content" class="page-content" role="main">
                                <div>
                                    {% include infobox.html %}
                                    <h1>{{ page.tool }}</h1>
                                    {% if page.description %}
                                        <h2>{{ page.description }}</h2>
                                    {% endif %}
                                </div>
                                <div style="clear:both">
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
